<html>
<head>
<title>FashionBaba</title>
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<!-- <link rel="stylesheet" href="static/css/rarity.css"> -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
</head>
<body style="background-size: 100% , 100%;
    background-image: url(static/images/mainbg.png);
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;" >
<div>
    <nav style="background-image: url(static/images/mainbg1.PNG);">
        <ul>
            <li class="nav-margin"><a href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y="><img class= "topicon" src="static/images/instagram.png" height="30px" width="30px"></a></li>
            <li class="nav-margin"><a href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09"><img class= "topicon" src="static/images/twitter.png" height="30px" width="30px"></a></li>
            <li class="nav-margin"><a href="https://www.linkedin.com/company/fashion-baba/"><img class= "topicon" src="static/images/linkedin.png" height="30px" width="30px"></a></li>
        </ul>
    </nav>
</div>
<center><div><button class="mintbtn"><a href="#popupx"><h4>W H I T E P A P E R</h2></a></button></center>
    <div id="popupx" class="overlay">
        <div class="popupc">
            <h2 style="opacity: 0;">Here i am</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <h1 class="popuphead" style="color: white; text-align: center;"><br>Coming Soon....</h1>
            </div>
        </div>
    </div>
<div class="Mint">
    <div class="Mint2"><img class="Mint1img" src="static/images/mint.png" alt="Space for Banner"></div>
    <!-- <a href="#"><div class="centered">M I N T</div></a> -->
</div>
<div class="sec-heading text-center genm gentmob">
    <h1>GENESIS & ARTWORK</h1>
</div>
<div class="genesis">
<div class="mainCarousel">
    <div class="div_container">
       
       <img  src="static/images/genesis2.PNG" alt="Space for Banner" class="img img-1 show"/>
       <img  src="static/images/genesis1.JPG" alt="Space for Banner" class="img img-2"/>
       <img  src="static/images/genesis3.jpg" alt="Space for Banner" class="img img-3"/>
       <img  src="static/images/genesis4.jpg" alt="Space for Banner" class="img img-4"/>
       <img  src="static/images/genesis5.jpg" alt="Space for Banner" class="img img-5"/>
       <img  src="static/images/genesis6.jpg" alt="Space for Banner" class="img img-6"/>
       <img  src="static/images/genesis7.jpg" alt="Space for Banner" class="img img-7"/>
       <img  src="static/images/genesis8.jpg" alt="Space for Banner" class="img img-8"/>
       <img  src="static/images/genesis9.jpg" alt="Space for Banner" class="img img-9"/>
       <img  src="static/images/genesis10.jpg" alt="Space for Banner" class="img img-10"/>
       <img  src="static/images/z1.jpg" alt="Space for Banner" class="img img-11"/>
       <img  src="static/images/z2.JPEG" alt="Space for Banner" class="img img-12"/>
       <img  src="static/images/z3.JPEG" alt="Space for Banner" class="img img-13"/>
       <img  src="static/images/z4.JPG" alt="Space for Banner" class="img img-14"/>
       <img  src="static/images/z5.JPG" alt="Space for Banner" class="img img-15"/>
       <img  src="static/images/genesis7.jpg" alt="Space for Banner" class="img img-16"/>
       <img  src="static/images/genesis8.jpg" alt="Space for Banner" class="img img-17"/>
       <img  src="static/images/genesis6.jpg" alt="Space for Banner" class="img img-18"/>
       <img  src="static/images/genesis7.jpg" alt="Space for Banner" class="img img-19"/>
       <img  src="static/images/genesis8.jpg" alt="Space for Banner" class="img img-20"/>
   </div>
    <div class="carousel-middle">
        <p class="gent">All the 20 outfits used for NFT creation are styled and draped by the artist himself. <br>The different poses of art represent flexibility & combination of different styles & personalities coming together!!<p>
    </div>
    <div class="div_container2">
        <img  src="static/images/genesis22.png" alt="Space for Banner" class="img2 imgi-1 show2"/>
        <img  src="static/images/genesis11.png" alt="Space for Banner" class="img2 imgi-2" />
        <img  src="static/images/genesis33.png" alt="Space for Banner" class="img2 imgi-3" />
        <img  src="static/images/genesis44.PNG" alt="Space for Banner" class="img2 imgi-4" />
        <img  src="static/images/genesis55.png" alt="Space for Banner" class="img2 imgi-5" />
        <img  src="static/images/genesis66.png" alt="Space for Banner" class="img2 imgi-6" />
        <img  src="static/images/genesis77.png" alt="Space for Banner" class="img2 imgi-7" />
        <img  src="static/images/genesis88.png" alt="Space for Banner" class="img2 imgi-8" />
        <img  src="static/images/genesis99.png" alt="Space for Banner" class="img2 imgi-9" />
        <img  src="static/images/genesis1010.png" alt="Space for Banner" class="img2 imgi-10" />
        <img  src="static/images/zz1.png" alt="Space for Banner" class="img2 imgi-11" />
        <img  src="static/images/zz2.png" alt="Space for Banner" class="img2 imgi-12" />
        <img  src="static/images/zz3.PNG" alt="Space for Banner" class="img2 imgi-13" />
        <img  src="static/images/zz4.png" alt="Space for Banner" class="img2 imgi-14" />
        <img  src="static/images/zz5.png" alt="Space for Banner" class="img2 imgi-15" />
        <img  src="static/images/genesis77.png" alt="Space for Banner" class="img2 imgi-16" />
        <img  src="static/images/genesis88.png" alt="Space for Banner" class="img2 imgi-17" />
        <img  src="static/images/genesis66.png" alt="Space for Banner" class="img2 imgi-18" />
        <img  src="static/images/genesis77.png" alt="Space for Banner" class="img2 imgi-19" />
        <img  src="static/images/genesis88.png" alt="Space for Banner" class="img2 imgi-20" />
    </div>
</div></div>
<div class="genslider">
<div class="carousel" data-flickity='{ "groupCells": true, "prevNextButtons": false, "autoPlay": 2000, "freeScroll": true,
"wrapAround": true, "contain": true, "pageDots": false}'>
    <div class="carousel-cell2">
        <img  src="static/images/genesis2.PNG">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis22.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/z1.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/zz1.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis3.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis33.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis4.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis44.PNG">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis5.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis55.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis6.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis66.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis7.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis77.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis8.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis88.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis9.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis99.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis10.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis1010.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/z2.JPEG">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/zz2.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/z3.JPG">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/zz3.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/z4.JPG">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/zz4.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/z5.JPG">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/zz5.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis5.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis55.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis6.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis66.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis7.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis77.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis8.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis88.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis9.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis99.png">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis10.jpg">
    </div>
    <div class="carousel-cell2">
        <img  src="static/images/genesis1010.png">
    </div>
</div></div>
<div class="gent1">
    <code class="gentext">All the 20 outfits used for NFT creation are styled and draped by the artist himself. <br>The different poses of art represent flexibility & combination of different styles & personalities coming together!!</code>
</div>

<div class="text-center abtd">
    <h1>ABOUT THE BABA</h1>
</div>
<div class="blackbar" style="background-image: url(static/images/mainbgbar3.png);">
    <div class="carousel" data-flickity='{ "autoPlay": true, "pageDots": false, "wrapAround": true}'>
    <div class="carousel-cell1">
        <img class="image-size1" src="static/images/genesismain.png" alt="Space for Banner">
        <p class="pfont">TREND-SETTER: He can style any ready to wear garment.</p>
    </div>
    <div class="carousel-cell1">
        <img class="image-size1" src="static/images/genesis44.PNG" alt="Space for Banner">
        <p class="pfont">TREND-BREAKER: He is more adventurous than TREND SETTER. He can style any ready-to wear garment with his unique fashion sense. Is a new bee in draping style.</p>
    </div>
    <div class="carousel-cell1">
        <img class="image-size1" src="static/images/genesis22.png" alt="Space for Banner">
        <p class="pfont">FASHION INFLUENCER: He is into raw-styling and discovering the art of draping as his fashion style.</p>
    </div>
    <div class="carousel-cell1">
        <img class="image-size1" src="static/images/genesis55.png" alt="Space for Banner">
        <p class="pfont">FASHION CREATOR:  He is the pro in the drape styling. Is confident and is the shows topper.  </p>
    </div>
</div>
</div>
<div class="text-center" id="#abt">
    <h1>ABOUT FASHION BABA</h1>
</div>
<div class="aboutfashion">
    <br><code style="white-space:pre-wrap"><p class="dj">Fashion is about expressing yourself & not just looking good. Fashion is about what you believe in & what you stand for. Sustainable fashion is needed now in a way where you can style your outfits, as well as support the environment. Fashion is about co-existence. The idea is to adopt a sustainable lifestyle in everything & letting go of fast fashion, which is the 2nd most pollution causing industry in the world.</p>
        <h6 class="prefont">Mission</h6>
        <p class="left">Our mission is to provide a sustainable fashion brand, spread awareness on sustainable fashion & to support designers by providing them an accessible platform to showcase & grow in the industry.</p>
        <h6 class="prefont">Vision</h6>
        <p class="dj">Our vision is to be the go-to brand for sustainable fashion & cater to the needs of every consumer who wants to adopt a sustainable lifestyle. We aim to build a strong community of designers, enthusiasts & influencers promoting & preaching sustainable fashion.</p>
    </code>
</div>
<div class="text-center">
    <h1>WHY FASHION BABA</h1>
</div>
<div>
    <div class="carousel" data-flickity='{ "autoPlay": true,"pageDots": false, "wrapAround": true }'>
        <div class="carousel-cell">
            <div class="main">
                <div class="testimonials">
                   <div class="card1">
                       <div class="layer"></div>
                       <div class="content">
                           <p>
                              <h1 style="color:aliceblue">PROBLEM</h1>
                           
                              <p style="color: aliceblue;">Pollution caused by Fashion Industry-2nd highest pollution causing industry in the world<br><br><hr style="border: solid black;"></p>
                           </p>
                           <div class="image">
                               <img src="" alt="">
                           </div>
                           <div class="details">
                               <h1 style="color: white;">SOLUTION</h1>
                               <p style="color:aliceblue">Sustainable clothing: clothes made of sustainable/natural fabrics like jute, hemp, cotton, linen, wool etc.</p>
                           </div>
                       </div>
                   </div></div></div></div>
        <div class="carousel-cell">
            <div class="main">
                <div class="testimonials">
                   <div class="card1">
                       <div class="layer"></div>
                       <div class="content">
                           <p>
                              <h1 style="color:aliceblue">PROBLEM</h1>
                           
                              <p style="color: aliceblue;">Lack of Awareness about sustainable clothing lifestyle & how can we contribute at an individual level?<br><hr style="border: solid black;"></p>
                           </p>
                           <div class="image">
                               <img src="" alt="">
                           </div>
                           <div class="details">
                               <h1 style="color: white;">SOLUTION</h1>
                               <p style="color:aliceblue">Blogs, videos, podcasts on educating/ spreading awareness on things related to sustainable fashion, styling your existing outfits in different ways, etc. available on a dedicated mobile app. </p>
                           </div>
                       </div>
                   </div></div></div></div>
        <div class="carousel-cell">
            <div class="main">
                <div class="testimonials">
                   <div class="card1">
                       <div class="layer"></div>
                       <div class="content">
                           <p>
                              <h1 style="color:aliceblue">PROBLEM</h1>
                           
                              <p style="color: aliceblue;">Expensive Fashion-Design Education.<br><br><br><hr style="border: solid black;"></p>
                           </p>
                           <div class="image">
                               <img src="" alt="">
                           </div>
                           <div class="details">
                               <h1 style="color: white;">SOLUTION</h1>
                               <p style="color:aliceblue">Design to Earn (D2E) platform for budding fashion designer: Design your outfits, get feedback from experts in the industry & get your outfit produced under FB | Public Fashion House</p>
                           </div>
                       </div>
                   </div></div></div></div>
        <div class="carousel-cell">
            <div class="main">
                <div class="testimonials">
                   <div class="card1">
                       <div class="layer"></div>
                       <div class="content">
                           <p>
                              <h1 style="color:aliceblue">PROBLEM</h1>
                           
                              <p style="color: aliceblue;">Lack of sustainable custom clothing options.<br><br><br><hr style="border: solid black;"></p>
                           </p>
                           <div class="image">
                               <img src="" alt="">
                           </div>
                           <div class="details">
                               <h1 style="color: white;">SOLUTION</h1>
                               <p style="color:aliceblue">One on one outfit consultation with Fashion Baba team delivering your Dream outfit to your doorstep!</p>
                           </div>
                       </div>
                   </div></div></div></div>
        <div class="carousel-cell">
            <div class="main">
                <div class="testimonials">
                   <div class="card1">
                       <div class="layer"></div>
                       <div class="content">
                           <p>
                              <h1 style="color:aliceblue">PROBLEM</h1>
                           
                              <p style="color: aliceblue;">No worldwide community Fashion house<br><br><br><hr style="border: solid black;"></p>
                           </p>
                           <div class="image">
                               <img src="" alt="">
                           </div>
                           <div class="details">
                               <h1 style="color: white;">SOLUTION</h1>
                               <p style="color:aliceblue">Community driven Public Fashion house to bring inclusiveness of different fashion styles</p>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="text-center" id="#ut">
    <h1>UTILITY</h1>
</div>
<div class="container">
    {% include 'utility.html' %}
</div>



<div class="text-center" id="roadMap">
    <h1>ROADMAP</h1>
</div>
<div>
    <img class="roadmap" src="static/images/newroadmap.png" alt="Space for Banner">
<div>
    <div>
        <img class="roadmap2" src="static/images/roadmapmobile.png" alt="Space for Banner">
    <div>
    <div class="phase1">
        <a class="buttons" href="#popup1">PHASE 1</a>
    </div>
    <div class="phase2">
        <a class="buttons" href="#popup2">PHASE 2</a>
    </div>
    <div class="phase3">
        <a class="buttons" href="#popup3">PHASE 3</a>
    </div>
    <div class="phase4">
        <a class="buttons" href="#popup4">PHASE 4</a>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2 class="popuphead">PHASE 1</h2>
            <a class="close" href="#roadMap">&times;</a>
            <div class="content">
                <p class="popuptext">1. Finalisation & setting-up of Workstation & Factory for Sustainable Fashion brand</p>
                <p class="popuptext">2. Land purchase in Metaverse for online store</p>
                <p class="popuptext">3. On-boarding of Jury for outreach & feedback</p>
                <p class="popuptext">4. Tie-ups & collaborations begin with other sustainable fashion causes</p>
                <p class="popuptext">5. Mobile application development to begin-The Art of Styling</p>
            </div>
        </div>
    </div>
    <div id="popup2" class="overlay">
        <div class="popup">
            <h2 class="popuphead">PHASE 2</h2>
            <a class="close" href="#roadMap">&times;</a>
            <div class="content">
                <p class="popuptext">1. Raw material & staff for factory/workstation finalisation</p>
                <p class="popuptext">2. Development of Fashion Baba ecosystem begins in the metaverse</p>
                <p class="popuptext">3. App launch-The Art of Styling</p>
                <p class="popuptext">4. Sustainable Fashion campaigns at an international levels</p>
                <p class="popuptext">5. Launch of D2E platform</p>
                <p class="popuptext">6. Hiring for Fashion Baba in-house team from verified holders</p>
            </div>
        </div>
    </div>
    <div id="popup3" class="overlay">
        <div class="popup">
            <h2 class="popuphead">PHASE 3</h2>
            <a class="close" href="#roadMap">&times;</a>
            <div class="content">
                <p class="popuptext">1. First batch of Sustainable clothing line under Fashion Baba to be released for purchase online</p>
                <p class="popuptext">2. Fashion Baba 3D avatars & 3D integration in the metaverse </p>
                <p class="popuptext">3. Online purchase functionality available on The Art of Styling application</p>
                <p class="popuptext">4. Holder’s articles/blogs/videos invited for posting on TAS application</p>
                <p class="popuptext">5. Sustainable fashion campaigns to continue</p>
            </div>
        </div>
    </div>
    <div id="popup4" class="overlay">
        <div class="popup">
            <h2 class="popuphead">PHASE 4</h2>
            <a class="close" href="#roadMap">&times;</a>
            <div class="content">
                <p class="popuptext">1. All phase 3 activities/initiatives to continue in this phase </p>
                <p class="popuptext">2. Launch of Dream Outfit to your Doorstep </p>
                <p class="popuptext">3. Creation & delivery of your customized outfit in real life  </p>
                <p class="popuptext">4. 1/1 NFT creation of your dream outfit to be airdropped </p>
            </div>
        </div>
    </div>
    </div>
</div></div></div>
<div class="text-center" id="rt">
    <h1>RARITY</h1>
</div>
{% block body_block %}

{% endblock %}   
<div class="text-center" id="tm" mouseover="fadeRest()">
    <h1>TEAM</h1>
</div>

    <div class="testimonial-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-slider owl-carousel">
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/cp.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;">Pradiumn Kashyap</h4>
                                <p style="color: white;">Co-founder, Marketing & Strategy </p>
                                
                            </div>
                            <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png" width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/rr.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;">Raji Gupta</h4>
                                <p style="color: white;">Co-founder, Marketing & Strategy.</p>
                            </div>
                            <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png" width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>
                            </div>
                        </div>
                        
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/ccp.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;">Prajjwal Kashyap</h4>
                                <p style="color: white;">Co-founder, Artist & Creative Director</p>
                                </div>
                                <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png" width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/cpp.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;">Pradhumn Agnibhoj</h4>
                                <p style="color: white;">Co-founder, Web3 Developer</p>
                                </div>
                                <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png"  width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/mc.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;">Mlee</h4>
                                <p style="color: white;">Marketing Manager & Creative lead.</p>
                                </div>
                                <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png" width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/caa.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;">Ajay Mann</h4>
                                <p style="color: white;">Marketing Manager & Creative lead</p>
                                </div>
                                <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png" width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>           
                            </div>
                        </div>   
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation" src="static/images/ca.png"></div>
                            <div class="info-area">
                                <h4 style="color: white;" >Aamir Qureshi</h4>
                                <p style="color: white;">App Developer</p>
                                </div>
                                <div class="smedia row">
                                <a class="col" href="https://twitter.com/FashionBabaNFT?t=uP98CPvDAAy0t9fayiYBdA&s=09" target="_blank"><img class= "topicon" src="static/images/twitter.png" width="10%"></a></li>
                                <a class="col" href="https://www.linkedin.com/company/fashion-baba/" target="_blank"><img class= "topicon" src="static/images/linkedin.png" width="10%"></a></li>
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/instagram.png" width="10%"></a></li>           
                                <a class="col" href="https://instagram.com/fashion_babanft?igshid=YmMyMTA2M2Y=" target="_blank"><img class= "topicon" src="static/images/facebook.png" width="10%"></a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="text-center" id="fq">
    <h1>FAQ</h1>
</div>
<section class="footersec">
    <div class="faq">
        <div class="faq-left-desktop">
            <div class="faq-left-image-desktop">
                <img src="static/images/genesismain.png" alt="illustration-woman-online-desktop">
            </div>
        </div>
        <div class="faq-left-mobile">
            <div class="faq-left-image-mobile">
                <img src="static/images/genesisfaq.png" alt="illustration-woman-online-mobile">
            </div>
        </div>
        <div class="faq-right">
            <!-- <div class="faq-title">FAQ</div> -->
            <div class="faq-body">
                <details>
                    <summary>What is Fashion Baba?</summary>
                    <p>Fashion Baba is a fashion-based utility NFT supporting sustainable fashion. Refer to the Whitepaper for more details.</p>
                </details>
                <details>
                    <summary>Total supply?</summary>
                    <p>2000</p>
                </details>
                <details>
                    <summary>Mint Price?</summary>
                    <p>To be announced in Discord.</p>
                </details>
                <details>
                    <summary>When Mint?</summary>
                    <p>To be announced in Discord.</p>
                </details>
                <details>
                    <summary>Minting limits?</summary>
                    <p>2 per wallet</p>
                </details>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js">
</script> 
<script>


       $('.team-slider').owlCarousel({
           loop: true,            
           nav: false,
           autoplay: true,
           autoplayTimeout: 5000,
           smartSpeed: 450,
           margin: 20,
           responsive: {
               0: {
                   items: 1
               },
               768: {
                   items: 2
               },
               991: {
                   items: 3
               },
               1200: {
                   items: 3
               },
               1920: {
                   items: 3
               }
           }
       });
</script>                            

<script>
    $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        $(".zoom1").css({
            width: (100 + scroll/5) + "%"
        })
    })

    var counter = 1;

setInterval(()=>{

    document.querySelector('.img.show').classList.remove('show')
    var img = document.querySelector(`.img-${counter}`)
    img.classList.add('show')
    counter++;

    if(counter>20){
        counter=1;
    }
},3000);

var counter_2 = 1;

setInterval(()=>{

    document.querySelector('.img2.show2').classList.remove('show2')
    var img2 = document.querySelector(`.imgi-${counter_2}`)
    img2.classList.add('show2')
    counter_2 ++;

    if(counter_2 > 20){
        counter_2 = 1;
    }
},3000);

</script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/rarity.js"></script>
</body>
</html>